<!----------- Create New discount ---------------->

	<!-- company search bar -->
	<div class="container">
		<div class="row justify-content-center">
			<div class="col">
				<form class="form-inline" ng-show="!vm.companyClick">
					<input class="form-control mr-sm-2" type="text" ng-change="vm.searchCompany()" ng-model="vm.company" placeholder="Search Company" />
					<input id="NewCompany" type="submit" ng-click="vm.showNewCompanyForm()" value="Create New Company" />
				</form>
			</div>
		</div>
	</div>
	
	<!-- show Company List -->
	<ul ng-show="!vm.companyClick">
		<li ng-repeat="company in vm.companyResults" ng-click="vm.getLocations(company); vm.companyExists = true">
			{{company.name}}
		</li>
	</ul>
	
	<!-- company form -->
	<form ng-show="vm.showCompanyForm">
		<input type="text" ng-model="company.name" placeholder="Company Name" /><br />
			
			<!-- type drop down -->
			<select name="types" ng-model="vm.typeId">
			    <option ng-repeat="type in vm.typesArr" value="{{type.id}}">{{type.name}}</option>
		  	</select><br />
		  	
		<input type="text" ng-model="company.storeUrl" placeholder="Company URL" /><br />
		<input type="submit" ng-click="vm.addCompany(company); company = {}" value="Add Company" />
	</form>
	
	<!-- show locations list based on search result -->
	<!-- Button - Create new location -->
	<div ng-show="vm.showLocationList">
		<input type="submit" ng-click="vm.showNewLocationForm()" value="Create New Location" />
		<ul>
			<li ng-repeat="location in vm.locationResults.locations" 
				ng-click="vm.addLocationFromList(location); vm.locationExists = true">
				ID : {{location.id}}
				{{location.address.street}}
				{{location.address.city}}
				{{location.address.state}}
				{{location.address.zip}}
				{{location.phone}}
				{{location.hours}}
				
			</li>
		</ul>
	</div>
	
	<!-- location form -->
	<form ng-show="vm.showLocation">
		<input type="text" ng-model="location.hours" placeholder="Business Hours" /><br />
		<input type="text" ng-model="location.phoneNumber" placeholder="Phone Number" /><br />
		<input type="submit" ng-click="vm.addLocation(location); location = {}" value="Add Location" />
	</form>
	
	<!-- address form -->
	<form ng-show="vm.showAddress">
		<input type="text" ng-model="address.city" placeholder="City" /><br />
		<input type="text" ng-model="address.state" placeholder="State" /><br />
		<input type="text" ng-model="address.street" placeholder="Street" /><br />
		<input type="text" ng-model="address.zip" placeholder="Zip Code" /><br />
		<input type="submit" ng-click="vm.addAddress(address); address = {}" value="Add Address" />
	</form>

	<!-- discount form -->
	<form ng-show="vm.showDiscount">
		<input type="text" ng-model="discount.amount" placeholder="Amount" /><br />
		<input type="text" ng-model="discount.info" placeholder="Details" /><br />
		<input type="text" ng-model="discount.startDate" placeholder="Start (mm/dd/yyy)" /><br />
		<input type="text" ng-model="discount.endDate" placeholder="End (mm/dd/yyy)" /><br />
		<input type="submit" ng-click="vm.addDiscount(discount); discount = {}" value="Add Discount" />
	</form>

	<!-- submit button - Persist all forms -->
	<div ng-show="vm.showButton">
		<button ng-click="vm.addAllForms()">Create Discount</button>
	</div>

</form>
