<!-- ---------- Create New discount -------------- -->

	<!-- company form -->
	<form ng-show="!vm.showCompany">
		<input type="text" ng-model="company.name" placeholder="Company Name" /><br />
		<input type="text" ng-model="company.type" placeholder="Company Type" /><br />
		<input type="text" ng-model="company.url" placeholder="Company URL" /><br />
		<input type="submit" ng-click="vm.addCompany(company); company = {}" value="Add Company" />
	</form>
	
	<!-- address form -->
	<form ng-show="vm.showAddress">
		<input type="text" ng-model="address.city" placeholder="City" /><br />
		<input type="text" ng-model="address.state" placeholder="State" /><br />
		<input type="text" ng-model="address.street" placeholder="Street" /><br />
		<input type="text" ng-model="address.zip" placeholder="Zip Code" /><br />
		<input type="submit" ng-click="vm.addAddress(address); address = {}" value="Add Address" />
	</form>
	
	<!-- location form -->
	<form ng-show="vm.showLocation">
		<input type="text" ng-model="location.hours" placeholder="Business Hours" /><br />
		<input type="text" ng-model="location.phone" placeholder="Phone Number" /><br />
		<input type="submit" ng-click="vm.addLocation(location); location = {}" value="Add Location" />
	</form>
	
	<!-- discount form -->
	<form ng-show="vm.showDiscount">
		<input type="text" ng-model="discount.amount" placeholder="Amount" /><br />
		<input type="text" ng-model="discount.info" placeholder="Details" /><br />
		<input type="text" ng-model="discount.duration" placeholder="Start/End Date" /><br />
		<input type="submit" ng-click="vm.addDiscount(discount); discount = {}" value="Add Discount" />
	</form>
	
	<!-- submit button - Persist all forms -->
	<div ng-show="vm.showButton">
		<button ng-click="vm.addAllForms()">Create Discount</button>
	</div>
	
</form>
























