<!----------- Create New discount ---------------->

	<!-- company search bar -->
	<div class="container-fluid">
		<div class="row justify-content-center">
			<form class="form-inline" ng-show="!vm.companyClick">
				<input id="companySearch" class="form-control mr-sm-2" type="text" ng-change="vm.searchCompany()" ng-model="vm.company" placeholder="Search Company" />
				<!-- <input id="NewCompany" type="submit" ng-click="vm.showNewCompanyForm()" value="Create New Company" /> -->
				<button id="NewCompany" class="btn mr-sm-2" type="submit" ng-click="vm.showNewCompanyForm()" >Create New Company</button>
			</form>
		</div><br />
	
	<!-- show Company List -->
	<!-- <div class="container-fluid"> -->
		<div class="row justify-content-center">
			<div ng-show="!vm.companyClick">
				<div ng-repeat="company in vm.companyResults" ng-click="vm.getLocations(company); vm.companyExists = true">
					<div id="companyList">
						{{company.name}}
					</div><br />
				</div>
			</div>
		</div>
	
	<!-- company form -->
	<div ng-show="vm.showCompanyForm">
		<div class="row justify-content-center">
			<div>
				<form name="companyForm">
					<input id="companyName" name="companyName" class="form-control mr-sm-2" type="text" ng-model="company.name" placeholder="Company Name" required />
					<input id="url" class="form-control mr-sm-2" type="text" ng-model="company.storeUrl" placeholder="Company URL" />
					
					<!-- type drop down -->
					<div	>
						<select id="dropDown" name="types" ng-model="vm.typeId" placeholder="Type">
							<option value="">--Types--</option>
						    <option ng-repeat="type in vm.typesArr" value="{{type.id}}">{{type.name}}</option>
					  	</select>
					  	
					  	<button id="addCompany" class="btn mr-sm-2" type="submit" ng-click="companyForm.companyName.$valid ? vm.addCompany(company) : false; company = {}" >Add Company</button>
					</div>
					<!-- <input id="addCompany" type="submit" ng-click="vm.addCompany(company); company = {}" value="Add Company" /> -->
				</form>
				<p>{{companyForm.companyName.$valid}}</p>
			</div>
		</div>
	</div>
	
	
	</div>
	
	<div ng-show="vm.addedCompany">
		{{vm.addedCompany.name}}
		<br />
		{{vm.addedCompany.storeUrl}}
	</div>
	
	
	<!-- show locations list based on search result -->
	<!-- Button - Create new location -->
	<div ng-show="vm.showLocationList">
		<input type="submit" ng-click="vm.showNewLocationForm()" value="Create New Location" />
		<ul>
			<li ng-repeat="location in vm.locationResults" 
				ng-click="vm.addLocationFromList(location); vm.locationExists = true">
				<!-- ID : {{location.id}} -->
				{{location.address.street}}
				{{location.address.city}}
				{{location.address.state}}
				{{location.address.zip}}
				{{location.phone}}
				{{location.hours}}
				
			</li>
		</ul>
	</div>
	
	<!-- location form -->
	<form ng-show="vm.showLocation">
		<input type="text" ng-model="location.hours" placeholder="Business Hours" /><br />
		<input type="text" ng-model="location.phoneNumber" placeholder="Phone Number" /><br />
		<input type="submit" ng-click="vm.addLocation(location); location = {}" value="Add Location" />
	</form>
	
	<!-- address form -->
	<form ng-show="vm.showAddress">
		<input type="text" ng-model="address.city" placeholder="City" required /><br />
		<input type="text" ng-model="address.state" placeholder="State" required /><br />
		<input type="text" ng-model="address.street" placeholder="Street" required /><br />
		<input type="text" ng-model="address.zip" placeholder="Zip Code" required /><br />
		<input type="submit" ng-click="vm.addAddress(address); address = {}" value="Add Address" />
	</form>

	<!-- discount form -->
	<form ng-show="vm.showDiscount">
		<input type="text" ng-model="discount.amount" placeholder="Amount" required/><br />
		<input type="text" ng-model="discount.info" placeholder="Details" /><br />
		<input type="text" ng-model="discount.startDate" placeholder="Start (mm/dd/yyy)" /><br />
		<input type="text" ng-model="discount.endDate" placeholder="End (mm/dd/yyy)" /><br />
		<input type="submit" ng-click="vm.addDiscount(discount); discount = {}" value="Add Discount" />
	</form>

	<!-- submit button - Persist all forms -->
	<div ng-show="vm.showButton">
		<button ng-click="vm.addAllForms()">Submit Discount</button>
	</div>

</form>
