body {
	background-color: #ebebeb;
}

.border1 {
	border-style: dashed;
	border-width: 2px;
}

.deleteButton {
	text-align:right;
}

.editButton{
	
}

.resultCard {
	background-color: #102940;
	color: #ffffff;
	margin: 1em;
	margin-left: 3.5em;
	padding: 1em;
}

.editCard {
	background-color: #102940;
	color: #ffffff;
	margin: 1em;
	margin-left: 3.5em;
	padding: 1em;
}

#map {
	height: 400px;
	margin: 1em;
	margin-right: 3.5em;
}

.redColor {
	background-color: #7f000a;
	color: #7f000a;
}

.lightRedColor {
	background-color: #ac090e;
	color: #ac090e;
}

.activeSelection {
	background-color: #284664;
}

.infoDisplay {
	font-size: 1em;
	background-color: #7b7b46;
	color: #fefefe;
	padding: 0.5em;
	margin: 1em;
	margin-right: 3.5em;
}

.searchForm>* {
	margin-left: 20px;
	margin-right: 20px;
}

.searchForm {
	padding-left: 350px;
}

.results {
	height: 635px;
	overflow: scroll;
}

.display {
	height: 635px;
	overflow: scroll;
}

#dropit {
	width: 333px;
}

@media ( max-width : 768px) {
	.dropdown-lr h3 {
		color: #eee;
	}
	.dropdown-lr label {
		color: #eee;
	}
}

.navbar {
	background-color: #23252e;
}

#NewCompany {
	height: 37px;
	background-color: #284664;
	color: white;
<<<<<<< HEAD
}
=======
}

#companyList {
	border-style: solid;
	border-radius: 5px;
	width: 346px;
}

#locationList {
	
}

#dropDown {
	background-color: white;
	height: 38px;
    width: 147px;
}

#url {
	width: 300px;
}

#companyName {
	width: 300px;
}

#addCompany {
	width: 148px;
	height: 35px;
	background-color: #284664;
	color: white;
}

.clickable:hover {
background-color: CadetBlue;
color:LawnGreen;
font-size: 20px;

}
>>>>>>> a3ba39c66d01446bc9ce50ac11b7767457544940
