.border1{
	border-style: dashed;
	border-width: 2px;
}

.resultCard{
	background-color: grey;
	margin: 2em;
	padding: 1em;
}
#map {
	height: 500px;
}
.activeSelection{
	background-color: hotpink;
}
.infoDisplay{
	background-color:aqua;
	padding: 0.5em;
	margin-top: 1em;
    margin-bottom: 1em;
}

.results {
	height : 100%;
}

/* ul.dropdown-lr {
  width: 700px;
} */

#dropit {

	width: 400px;
	
}

@media (max-width: 768px) {
	.dropdown-lr h3 {
		color: #eee;
	}
	.dropdown-lr label {
		color: #eee;
	}
}
