body{
	background-color:#ebebeb;
}
input { margin-right: 1000px; }
.border1{
	border-style: dashed;
	border-width: 2px;
}

.resultCard{
	background-color: #102940;
	color: #ffffff;
	margin: 1em;
	margin-left: 3.5em;
	padding: 1em;
}
#map {
	height: 400px;
	margin: 1em;
	margin-right: 3.5em;
}

.redColor{
	background-color: #7f000a;
	color: #7f000a;
}

.lightRedColor{
	background-color: #ac090e;
	color: #ac090e;
}

.activeSelection{
	background-color: #284664;
}
.infoDisplay{
	font-size: 1em;
	background-color: #7b7b46;
	color: #fefefe;
	padding: 0.5em;
	margin: 1em;
    margin-right: 3.5em;
}
.form-inline {
    padding:100px;
    margin:150px;
}
.results {
	height : 635px;
	overflow: scroll;
}

.display{
	height: 635px;
	overflow: scroll;
}



#dropit {

	width: 333px;
}

@media (max-width: 768px) {
	.dropdown-lr h3 {
		color: #eee;
	}
	.dropdown-lr label {
		color: #eee;
	}
.navbar{
	background-color: #23252e;
}